# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/out
/.vs
*Backup
*.dmp
__pycache__
CMakeUserPresets.json
CMakePresets.json
example/touchpy.cp311-win_amd64.pyd
/example/__pycache__



examples/yolov8/toe/yolo.*.toe
examples/yolov8/models/