# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build artifacts
/out
/build
/dist
*.egg-info

# IDE
/.vs
/.vscode

# Misc
*.dmp
__pycache__

# Docs
/docs/build
docs/source/reference/*

# CMake
CMakeUserPresets.json

# TouchDesigner
*Backup/
*.*.toe
*/models
logs/
*log.txt

# Bypass general rules for vendored SDK
!external/TouchEngine-Windows/bin/*.dll
!external/TouchEngine-Windows/lib/*.lib
